body{
    margin-left: 100px;
    margin-right: 100px;
}

body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-track {
    background: #171717;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #616161;
    border-radius: 20px;
  }
 
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
nav li{
    list-style: none;
    padding: 15px;
}

nav li a{
    font-size: 32px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: rgb(68, 68, 68);
}

nav li a:hover{
    color: #171717;
}

header{
    display: flex;
    justify-content: space-between;
}

.yellow{
    display: flex;
    background-color: rgb(255, 208, 0);
    flex-direction: column;
    height: 700px;
    width: 400px;
    align-items: start;
    justify-content: space-between;
}
.tittle{
    display: flex;
    margin: 0;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 172px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.listraHorizontal{
    margin-top: 10px;
    margin-left: 10px;
    height: 5px;
    width: 100px;
    background-color: rgb(48, 48, 48);
}

.listraVertical{
    margin-left: 10px;
    height: 90px;
    width: 5px;
    background-color: rgb(48, 48, 48);
}

.portfolio{
    display: flex;
    align-items: flex-end;
}

.portfolio b{
    color: rgb(255, 208, 0);
}

.listras2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-left: -80px;
}

.listraHorizontal2{
    margin-bottom: 10px;
    margin-left: 10px;
    height: 5px;
    width: 100px;
    background-color: rgb(48, 48, 48);
}

.listraVertical2{
    margin-left: 10px;
    height: 90px;
    width: 5px;
    background-color: rgb(48, 48, 48);
}

.description{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.name h1{
    display: flex;
    margin: 0;
    font-size: 90px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}
.name h2{
    display: flex;
    margin: 0;
    font-size: 70px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: rgb(70, 70, 70);
}

.description .sobre-home{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.description .sobre-home h3{
    color: rgb(150, 150, 150);
    display: flex;
    margin: 0;
    font-size: 40px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.listra-sobre-home{
    margin-top: 30px;
    height: 20px;
    width: 100px;
    background-color: black;
}
.tittle-conteudo-home{
    margin: 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 90px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.tittle-conteudo-home b{
    color: rgb(255, 208, 0);
}

.conteudo-home{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.black-box{
    height: 30px;
    width: 30px;
    background-color: black;
}
.image-exemplos{
    display: flex;
    justify-content: center;
}
.logos-exemplos{
    height: 700px;
    width: 700px;
}

.yellow-box{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 208, 0);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

footer a{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 50px;
    width: 250px;
    background-color: rgb(255, 208, 0);
    border-radius: 30px;
    font-size: 32px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #171717;
    text-decoration: none;
}

.topo{
    background-color: #171717;
    color: rgb(255, 208, 0);
}